#content header {
    position: fixed;
    top: 0;

    width: 100%;
    max-width: 750px;

    display: flex;
    justify-content: space-between;

    background-color: #b3b3b3;
}

#content header nav {
    align-items: flex-start;
    margin: auto 0;
    padding: 10px;
}

#content header nav a {
    padding: 10px 25px;
    font-size: 24px;
}

#content header div {
    align-self: flex-end;
}

#content header div img {
    height: 26px;
    padding: 10px;
    margin: auto;
}