:root {
    --social-icon-size: 35px;
    --social-size: 60px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.social a {
    transition: 0.7s;
    display: flex;
    width: var(--social-size);
    height: var(--social-size);
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px var(--primary-color);
}

.social a img {
    height: var(--social-icon-size);
    pointer-events: none;
}

.social .linkedin {
    height: calc(var(--social-icon-size) - 5px);
}

@media (hover: hover) {
    .social a:hover {
        background-color: var(--background-color);
        transition: 0.7s;
    }

    .social a:hover img {
        filter: invert(61%) sepia(44%) saturate(6864%) hue-rotate(170deg) brightness(107%) contrast(104%) !important;
    }
}

@media screen and (min-width: 1050px) and (min-height: 750px){
    :root {
        --social-size: 70px;
        --social-icon-size: 45px;
    }

    .social .linkedin {
        height: calc(var(--social-icon-size) - 10px);
    }
}