@media screen and (max-height: 650px) {
    .wrapper {
        align-self: start;
    }
}

#greeting_i_am {
    font-size: clamp(1.7rem, 2.2vw, 3em);
}

.info {
    font-size: clamp(0.8rem, 1.1em, 1.3rem);
}

#description, #leisure {
    line-height: 175%;
}


.wrapper p {
    margin: 20px 0;
}