.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.social a {
    transition: 0.7s;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px var(--primary-color) ;
}

.social a img {
    height: 35px;
}

.social a:hover {
    background-color: var(--background-color);
    transition: 0.7s;
}

@media screen and (min-width: 1050px) and (min-height: 750px){
    .social a {
        width: 70px;
        height: 70px;
    }

    .social a img {
        height: 45px;
    }

    .linkedin {
        width: 70px;
    }
}

.linkedin {
    width: 35px;
}

.color-switch {
    filter: invert(100%) sepia(2%) saturate(7410%) hue-rotate(29deg) brightness(105%) contrast(114%);
}