#cookie-wrapper {
    display: none;
    position: fixed;
    z-index: 900;
    bottom: 0;
    left: 0;

    width: 100vw;

    background-color: var(--cookie-background);
    opacity: 0.9;
    border-top: 3px solid var(--primary-color);
    box-shadow: 0 -10px 10px -10px var(--primary-color);

    flex-direction: column;
    align-items: start;

    transition: 1s;

    animation-name: hideCookies;
    animation-duration: 1s;
    animation-play-state: paused;
}

.cookie-content-wrapper {
    margin: auto;
    padding: 2%;
    max-width: 90%;
}

.cookie-header {
    position: relative;
}

#cookie-wrapper img {
    height: 1.5em;
    margin-right: 5px;
}

#cookie-wrapper h2 {
    color: var(--primary-color);
}

.cookie-header > * {
    display: inline-block;
    vertical-align: middle;
}

#cookie-wrapper p {
    margin: 5px;
    max-width: 98%;
}

#cookie-wrapper button {
    opacity: 1;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #FFF;
    font-weight: bold;
    padding: 7px 10px;
    margin: 10px 0;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 0 10px var(--primary-color) ;
}

#cookie-wrapper button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

@keyframes hideCookies {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0;
        display: none;
        animation-play-state: paused;
    }
}