footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    font-size: clamp(0.7rem, 1em, 1.4rem);
}

footer,
footer a,
footer a:visited {
    color: var(--font-color-footer);
    text-decoration: none;
}