footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.5rem, 0.8em, 1.2rem);
}

footer, footer a, footer a:visited {
    color: var(--fomt-footer-color);
    text-decoration: none;
}

footer p {
    margin: 0 auto;
}