.content {
    position: relative;
}

header {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: calc(100% - 14px);
    height: 28px;
    top: 14px;
    right: 14px;
    z-index: 600;
}

header img {
    display: block;
    height: 28px;
    margin: 0 7px;
    border-radius: 50%;
    filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(11deg) brightness(98%) contrast(97%);
}

@media (hover: hover) {
    .header-circle-hover:hover {
        box-shadow: 0 0 15px var(--primary-color);
        transition: 0.5s;
    }
}