#content header {
    position: fixed;
    top: 0;
    left: 30%;
    transform: translateX(-50%);

    width: 60%;
    min-height: 68px;

    display: flex;
    justify-content: space-between;

    background-color: var(--background-color);
    opacity: 0.75;
    transition: .85s;

    z-index: 100;
}

#content header nav {
    align-items: flex-start;
    padding: 10px;
}

#content header nav .menu {
    position: absolute;
    visibility: hidden;
}

#content header nav a {
    position: relative;
    display: inline-block;

    transition: .85s;
    color: var(--font-color);
    text-decoration: none;

    z-index: 101;
}

#content header nav a span {
    display: inline-block;
    font-size: 24px;
    padding: 10px 25px;
    width: 100%;
    height: 100%;
    z-index: 115;
}

header a {
    margin: 0 auto;
}

.header-settings {
    align-self: flex-end;
    padding: 15px;
}

#content header img {
    height: 26px;
    padding: 5px;
    margin: auto 5px;
    cursor: pointer;
    filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(11deg) brightness(98%) contrast(97%);
    border-radius: 50%;
}

@media screen and (min-width: 901px) {
    #content header .header-settings img:hover {
        box-shadow: 0 0 25px -7px var(--primary-color);
        scale: 1.2;
        transition: .85s;
    }
}

header a:hover {
    scale: 1.2;
    transition: .85s;
}

@media screen and (max-width: 900px) {
    #content header {
        width: 100%;
        left: 50%;
    }
}