#content .content {
    padding: 78px 10%;
}

#content .content a,
#content .content a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

#content .content ul {
    margin: 10px 0;
    padding-left: 2em;
}

#content .content h2 {
    margin-top: 10px;
}

#content .content p {
    padding: 10px 0;
}

#content header nav {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#content header nav a {
}