@import "../font/Roboto/stylesheet.css";

:root {
    --page-background-img: url("../img/background/background.jpeg");
}

:root {
    --page-background-img: url("../img/background/dark-background.png");
    --background-color: #12141CFF;
    --primary-color: #0197ce;
    --secondary-color: #00d6ff;
    --font-color: #D3D3D3FF;
    --font-color-footer: #6b6a6a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'robotomedium', Arial, Helvetica, sans-serif;
    display: flex;
    background-color: var(--background-color);
    color: var(--font-color);
}

#content {
    width: 60%;
    height: 100vh;
}

h1, h2, h3 {
    color: var(--primary-color);
}

#content-wrapper {
    margin: 0 auto;
    padding: 25px;
    max-width: 750px;
}

#decoration {
    width: 40%;
    height: 100vh;
    background-image: var(--page-background-img);
}