#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing .wrapper {
    margin-top: 77px;
}

h1 {
    font-size: clamp(1.8rem, 2.3vw, 2.8rem);
}

#landing p {
    margin: 20px 0;
    font-size: clamp(.7rem, 1em, 1.6rem);
    line-height: 175%;
}

@media screen and (max-width: 900px) {
    #landing {
        display: block;
    }
}